<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hindi_project_shubhangi?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">password</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.c3p0.validate">false</property>
    <property name="hibernate.c3p0.idle_test_period">30</property>
    <property name="hibernate.c3p0.automaticTestTable">conTestTable</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.jdbc.batch_size">0</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.connection.CharSet">utf8</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <mapping resource="com/grocery/bean/PurchaseReturn.hbm.xml"/>
    <mapping resource="com/grocery/bean/LoginUser.hbm.xml"/>
    <mapping resource="com/grocery/bean/StoreDetails.hbm.xml"/>
    <mapping resource="com/grocery/bean/SaleReturn.hbm.xml"/>
    <mapping resource="com/grocery/bean/SaleDetails.hbm.xml"/>
    <mapping resource="com/grocery/bean/SaleReturnDetails.hbm.xml"/>
    <mapping resource="com/grocery/bean/PurchaseMaster.hbm.xml"/>
    <mapping resource="com/grocery/bean/ItemAvailabilityPurchase.hbm.xml"/>
    <mapping resource="com/grocery/bean/BeginningCash.hbm.xml"/>
    <mapping resource="com/grocery/bean/ItemAvailability.hbm.xml"/>
    <mapping resource="com/grocery/bean/StockDetailsPurchase.hbm.xml"/>
    <mapping resource="com/grocery/bean/SaleMaster.hbm.xml"/>
    <mapping resource="com/grocery/bean/CustomerPartialPayment.hbm.xml"/>
    <mapping resource="com/grocery/bean/Expenses.hbm.xml"/>
    <mapping resource="com/grocery/bean/VendorMaster.hbm.xml"/>
    <mapping resource="com/grocery/bean/ItemMasterWithoutBarcode.hbm.xml"/>
    <mapping resource="com/grocery/bean/EmployeeMaster.hbm.xml"/>
    <mapping resource="com/grocery/bean/VendorPartialPayment.hbm.xml"/>
    <mapping resource="com/grocery/bean/ItemMaster.hbm.xml"/>
    <mapping resource="com/grocery/bean/PurchaseReturnDetails.hbm.xml"/>
    <mapping resource="com/grocery/bean/Counter.hbm.xml"/>
    <mapping resource="com/grocery/bean/VendorBillMaster.hbm.xml"/>
    <mapping resource="com/grocery/bean/CustomerDetails.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
